<div id="fullpage">
	<div class="section " id="section-contact" data-anchor="firstPage">
			<div class="hello">
				<h1>Hello, We are NKUERI</h1>
				<div class="vertical-line" style="height:25px;margin-top:10px;margin-bottom:10px;margin-left:49%"></div>
				<div class="socmed-div">
					<ul>
						<li><i class="fa fa-facebook socmed-icon" aria-hidden="true"></i></li>
						<li><i class="fa fa-twitter socmed-icon" aria-hidden="true"></i></li>
						<li><i class="fa fa-google-plus socmed-icon" aria-hidden="true"></i></li>
						<li><i class="fa fa-linkedin socmed-icon" aria-hidden="true"></i></li>
					</ul>
				</div>

			</div>
	</div>
</div>
