<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
		</div>
		<div class="back">
			<!-- back content -->
		</div>
	</div>
</div>

<div class="vertical flip-container" id="flip-toggle">
	<div class="flipper">
		<div class="front">
			<h1>FRONT</h1>
		</div>
		<div class="back">
			<h1>FRONT</h1>
		</div>
	</div>
</div>
<button onclick="document.querySelector('#flip-toggle').classList.toggle('active');" class="sexyButton">Toggle Flip</button>
