<ul id="menu">
    <li data-menuanchor="firstPage" class="active">
        <a href="#firstPage">First slide</a>
    </li>
    <li><div class="vertical-line" style="height: 10px;"/></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
    <li><div class="vertical-line" style="height: 10px;"/></li>
    <li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
    <li><div class="vertical-line" style="height: 10px;"/></li>
    <li data-menuanchor="4thPage"><a href="#4thPage">Fourth slide</a></li>
</ul>

<div id="fullpage">
	<div class="section " id="section0" data-anchor="firstPage">



    </div>
	<div class="section" id="section1" data-anchor="secondPage"><h1>Totally customizable</h1></div>
	<div class="section" id="section2" data-anchor="3rdPage"><h1>Lovely images <br />for a lovely page</h1></div>
	<div class="section" id="section3" data-anchor="4thPage"><h1>One Image = One thousand words</h1></div>
</div>
