#section-contact{
    background-color: #e8e8e8;
}
#section-contact .hello{
    top: 55%;
    transform: translateY(-50%);
    position: relative;
}

/*social media icon*/
.socmed-div li{
	display: inline-block;
	height: 80px;
	width: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;

	border: 2px solid black;
	border-radius: 50%;
}

.socmed-icon {
	font-size: 40px;
	/*margin: 20px;*/
	margin-top: 25%;
}
