/* entire container, keeps perspective */
.flip-container {
	perspective: 10000px;
}

.flip-container, .front, .back {
	width: 200px;
	height: 50px;
	text-align: center;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
	transform-origin: 100% 50px;
}

.flip-container:active .flipper, .flip-container.active .flipper, .flip-container.flip .flipper {
	transform: rotateX(180deg);
}
