/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
.section{
    background-size: cover;
    /*height: 100%;
    width: 100%;
    position: relative;
    overflow: scroll;
    transform: scale(1);
    transition: all 4s ease-in;*/
}
/*.section.zout {
    transform: scale(2);
}*/
.slide{
    background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
    background-image: url(/images/123.jpg);
}
#section0 h1{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
#section1{
    background-image: url(/images/example-fullpage/bg2.jpg);
    padding: 6% 0 0 0;
}
#section2{
    background-image: url(/images/640956.jpg);
    padding: 6% 0 0 0;
}
#section3{
    background-image: url(/images/651802.jpg);
    padding: 6% 0 0 0;
}
#section3 h1{
    color: #000;
}


/*Adding background for the slides
* --------------------------------------- */
#slide1{
    background-image: url(/images/example-fullpage/bg2.jpg);
    padding: 6% 0 0 0;
}
#slide2{
    background-image: url(/images/example-fullpage/bg5.jpg);
    padding: 6% 0 0 0;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}
